.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.code-workspace
workflow/*
!workflow/*md
!workflow/*ipynb
!workflow/*.bib
!workflow/*.cls
!workflow/config
*.html
analysis
manuscript
app/data
inst/doc
/doc/
/Meta/
tmp
hpc
pyenv
/.luarc.json
workflow_exp/data
!workflow/pyscript
workflow/pyscript/__pycache__
rsconnect
